:root {
  --accent-color: #ff6c00;

  --light-theme-suttitle-color: #303030;
  --light-theme-title-color: #303030;
  --light-theme-text-color: #555555;
  --light-theme-link-color: #303030;
  --light-theme-bg-color: #ffffff;

  --dark-theme-suttitle-color: rgba(157, 164, 189, 0.6);
  --dark-theme-title-color: #ffffff;
  --dark-theme-text-color: #9da4bd;
  --dark-theme-link-color: #ffffff;
  --dark-theme-bg-color: #111319;

  --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--light-theme-bg-color);
}

/* Reset Styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Components */
.title {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.light-theme-title {
  color: var(--main-text-color);
}

.dark-theme-title {
  color: var(--white-color);
}

.text {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}

.light-theme-text {
  color: var(--light-theme-text-color);
}

.dark-theme-text {
  color: var(--dark-theme-text-color);
}

.suptitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.light-theme-suptitle {
  color: var(--main-text-color);
}

.dark-theme-suptitle {
  color: rgba(157, 164, 189, 0.6);
}

.suptitle::before {
  display: block;
  margin-right: 20px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.booking-link {
  display: inline-block;

  height: 40px;
  min-width: 160px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  transition: background-color var(--transition-function), color var(--transition-function);
}

.dark-theme-booking-link {
  color: var(--white-color);
}

.light-theme-booking-link {
  color: var(--main-text-color);
}

.booking-link:hover,
.booking-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.service,
.price {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.container {
  position: relative;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }

  .text,
  .service,
  .price {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* HEADER */
.page-header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  padding-top: 40px;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: block;
}

.logo-icon {
  fill: var(--white-color);
  transition: fill var(--transition-function);
}

.logo-link:hover .logo-icon,
.logo-link:focus .logo-icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .nav-list,
  .telephone-link,
  .header-booking-link,
  .left-side-hero,
  .about-list {
    display: none;
  }

  .mobile-menu-open-btn {
    padding: 0;
    background-color: transparent;
    border: none;

    line-height: 0;
    transition: background-color var(--transition-function);
  }

  .mobile-menu-open-icon {
    fill: var(--white-color);
    transition: fill var(--transition-function);
  }

  .mobile-menu-open-btn:hover .mobile-menu-open-icon,
  .mobile-menu-open-btn:focus .mobile-menu-open-icon {
    fill: var(--accent-color);
  }

  .mobile-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform var(--transition-function), opacity var(--transition-function);
  }

  .mobile-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-menu-close-btn {
    position: absolute;
    z-index: 200;
    width: 40px;
    height: 40px;
    top: 48px;
    right: 31px;
    display: inline-block;
    text-align: right;
    align-self: flex-end;
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    transition: background-color var(--transition-function), border-color var(--transition-function);
  }

  .mobile-menu-close-icon {
    fill: var(--main-text-color);
    transition: fill var(--transition-function);
  }

  .mobile-menu-close-btn:hover .mobile-menu-close-icon,
  .mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: var(--accent-color);
  }

  .mobile-menu-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 337px;
    max-width: 100%;
    height: 100%;
    padding-top: 118px;
    padding-left: 40px;
    background-color: var(--white-color);
  }

  .mobile-menu-list {
    margin-bottom: 64px;
    width: 200px;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .mobile-menu-link,
  .mobile-menu-phone-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.1em;

    color: var(--main-text-color);
    transition: color var(--transition-function);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus,
  .mobile-menu-phone-link:hover,
  .mobile-menu-phone-link:focus {
    color: var(--accent-color);
  }

  .mobile-menu-phone-link {
    display: block;
    margin-bottom: 24px;
  }

  .mobile-booking-link {
    min-width: 194px;
    margin-bottom: 64px;
  }

  .mobile-menu-soc-list-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .mobile-menu-soc-list-item::before {
    display: inline-block;
    margin-right: 20px;
    content: '';
    width: 60px;
    height: 1px;
    background-color: transparent;
  }

  .mobile-menu-soc-list-item:first-child::before {
    background-color: var(--main-text-color);
  }

  .mobile-menu-soc-list-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.36px;
    letter-spacing: 0.2em;
    color: var(--main-text-color);
  }

  .mobile-menu-soc-list-link:hover,
  .mobile-menu-soc-list-link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn,
  .mobile-menu {
    display: none;
  }

  .page-header {
    padding-top: 32px;
  }

  .logo-link {
    margin-right: 59px;
  }

  .logo-icon {
    fill: var(--main-text-color);
  }

  .site-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: var(--white-color);
  }

  .telephone-link {
    position: absolute;
    top: 68px;
    right: 58px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--white-color);
  }

  .nav-link,
  .telephone-link {
    display: block;
    transition: color var(--transition-function);
  }

  .nav-link:hover,
  .telephone-link:hover,
  .nav-link:focus,
  .telephone-link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .logo-link {
    margin-right: 131px;
  }

  .nav-list {
    gap: 30px;
  }

  .telephone-link {
    position: static;
    margin-left: auto;
    margin-right: 43px;
  }

  .header-booking-link {
    margin-right: 17px;
  }
}

/* HERO */

.hero-section {
  background-color: #111319;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/bg/hero/mobile/slider-img1.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and(min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/bg/hero/mobile/slider-img1@2x.jpg);
  }
}

.hero-container {
  display: flex;
}

.right-side-hero {
  max-width: 100%;
  padding-top: 208px;

  padding-bottom: 209px;
  padding-left: 31px;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-color: var(--white-color);
    background-image: none;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-section {
      background-image: none;
    }
  }

  .left-side-hero {
    position: relative;
    flex-shrink: 0;
    width: 117px;
  }

  .hero-list {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 51px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    gap: 40px;
  }

  .hero-list::before {
    display: block;
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--main-text-color);
  }

  .hero-link {
    display: block;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--main-text-color);
    transition: color var(--transition-function);
  }

  .hero-link:hover,
  .hero-link:focus {
    color: var(--accent-color);
  }

  .right-side-hero {
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 98px;
    width: 100%;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/bg/hero/tablet/slider-img1.jpg);
    background-size: cover;
    background-position: center;
    background-color: #111319;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .right-side-hero {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../images/bg/hero/tablet/slider-img1@2x.jpg);
    }
  }

  .text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .left-side-hero {
    width: 100px;
  }

  .hero-list {
    left: 49px;
  }

  .right-side-hero {
    padding-bottom: 208px;
    padding-left: 100px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/bg/hero/desktop/slider-img1.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .right-side-hero {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../images/bg/hero/desktop/slider-img1@2x.jpg);
    }
  }
}

/* ABOUT */

.about-title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.description {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--light-theme-text-color);
}

@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
    gap: 30px;
  }

  .about-right-side {
    display: flex;
    flex-direction: column;
  }

  .about-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .description {
    margin-bottom: auto;
  }

  .about-booking-link {
    width: 163px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    flex-direction: row;
  }

  .about-right-side {
    width: 470px;
  }

  .about-title {
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
  }
}

/* Services and prices */
.services-section {
  background-color: #111319;
  background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
    url(../images/bg/services/mobile/img.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and(min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .services-section {
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
      url(../images/bg/services/mobile/img@2x.jpg);
  }
}

.services-title {
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

.services-and-prices {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px 30px 40px;
  margin-bottom: 44px;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 4px;
}

.services-item::after {
  display: block;
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price {
  order: 1;
}

.services-booking-link {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .services-section {
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
      url(../images/bg/services/tablet/img.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .services-section {
      background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
        url(../images/bg/services/tablet/img@2x.jpg);
    }
  }

  .services-title {
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
  }

  .services-and-prices {
    padding: 32px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .services-section {
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
      url(../images/bg/services/desktop/img.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .services-section {
      background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
        url(../images/bg/services/desktop/img@2x.jpg);
    }
  }

  .services-and-prices {
    padding: 0;
    flex-direction: row;
    gap: 30px;
    background-image: none;
  }

  .services-list {
    flex-basis: calc((100% - 30px) / 2);
    padding: 30px 20px;
  }

  .left-services-list {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  .right-services-list {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

/* FEATURES */
.features-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 44px;
}

.features-title {
  letter-spacing: 0.048em;
}

.features-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
}

.features-item {
  display: block;
  position: relative;
  width: calc((100% - 30px) / 2);
  height: 133px;
  padding: 20px 36px;
  background-color: #f7f7f7;
  text-align: center;
}

.features-item:nth-child(2n + 1) {
  margin-bottom: 30px;
}

.features-item:nth-child(2n) {
  margin-top: 30px;
}

.features-number {
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
}

.features-number::after {
  position: absolute;
  top: 27px;
  content: '+';
  display: inline-block;
  margin-left: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: var(--accent-color);
}

.features-decription {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .features-right-side {
    width: 500px;
  }

  .features-title {
    width: 449px;
  }

  .features-left-side {
    width: 450px;
    align-self: flex-end;
  }

  .features-item {
    padding: 20px 44px;
  }
}

@media screen and (min-width: 1200px) {
  .features-container {
    flex-direction: row;
    gap: 130px;
  }

  .features-left-side {
    width: 439px;
    padding-left: 69px;
  }

  .features-item {
    padding: 20px 24px;
  }

  .features-title {
    width: 430px;
  }
}

/* BARBERS */
.barbers-section {
  background-color: #f7f7f7;
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.barbers-pic {
  max-width: 100%;
}

.barbers-card {
  padding-top: 30px;
  text-align: center;
}

.subtitle {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.barbers-description {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-list-item {
  width: 44px;
  height: 44px;
}

.soc-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-color);

  transition: transform var(--transition-function);
}

.soc-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-text-color);
  transition: fill var(--transition-function);
}

.soc-list-link:hover,
.soc-list-link:focus {
  transform: scale(1.2);
}

.soc-list-link:hover .soc-list-icon,
.soc-list-link:focus .soc-list-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .barbers-container {
    padding-left: 159px;
    padding-right: 159px;
  }

  .barbers-item {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .barbers-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .barbers-item {
    flex-basis: calc((100% - 60px) / 3);
  }

  .barbers-list {
    flex-direction: row;
    gap: 30px;
  }
}

/* Portfolio */
.portfolio-suptitle {
  margin-bottom: 71px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.portfolio-pic {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio-suptitle {
    margin-bottom: 44px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

/* BOOKING AND CONTACTS */
.bgc-container {
  background-color: #191c26;
}

.booking-section {
  text-align: center;
}

.booking-title {
  margin-bottom: 44px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-bottom: 44px;
}

.booking-field {
  display: block;
  position: relative;
}

.booking-input {
  display: block;
  width: 100%;
  height: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #191c26;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border-bottom var(--transition-function);
}

.booking-input:focus {
  outline: none;
  border-bottom: 1px solid #ffffff;
}

.booking-descr {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: transform var(--transition-function), color var(--transition-function);
}

.booking-input:focus + .booking-descr {
  color: #ffffff;
  transform: translateY(-20px);
}

.booking-input:not(:placeholder-shown) + .booking-descr {
  transform: translateY(-20px);
}

.message-field {
  margin-bottom: 44px;
}

.message-input {
  resize: none;
  height: 76px;
}

.submit-btn {
  cursor: pointer;
  display: inline-block;
  min-width: 160px;
  padding: 12px 62px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-color);

  border: 1px solid var(--accent-color);
  border-radius: 25px;

  background-color: transparent;
  transition: background-color var(--transition-function);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .booking-section {
    text-align: left;
  }

  .input-container {
    flex-direction: row;
    gap: 30px;
  }

  .booking-field {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.contacts-section {
  text-align: center;
  background-color: #111319;
  background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
    url(../images/bg/contacts/mobile/img.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and(min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .contacts-section {
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
      url(../images/bg/contacts/mobile/img@2x.jpg);
  }
}

.contacts-title {
  margin-bottom: 40px;
}

.address {
  margin-bottom: 44px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.address-link {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--dark-theme-text-color);
  transition: color var(--transition-function);
}

.contacts-telephone-link,
.email-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--dark-theme-text-color);
  transition: color var(--transition-function);
}

.address-pic {
  padding-top: 5px;
}

.address-icon,
.contacts-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  stroke: var(--dark-theme-text-color);
  fill: none;
  transition: stroke var(--transition-function);
}

.address-link:hover,
.contacts-telephone-link:hover,
.email-link:hover,
.address-link:focus,
.contacts-telephone-link:focus,
.email-link:focus {
  color: var(--accent-color);
}

.address-link:hover .address-icon,
.contacts-telephone-link:hover .contacts-icon,
.email-link:hover .contacts-icon,
.address-link:focus .address-icon,
.contacts-telephone-link:focus .contacts-icon,
.email-link:focus .contacts-icon {
  stroke: var(--accent-color);
}

.contacts-suptitle {
  color: var(--white-color);
}

.contacts-suptitle::before {
  display: block;
  margin-right: 20px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
}

.worktime-text {
  text-align: left;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .contacts-section {
    text-align: left;
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
      url(../images/bg/contacts/tablet/img.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .contacts-section {
      background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
        url(../images/bg/contacts/tablet/img@2x.jpg);
    }
  }

  .address-and-hours {
    display: flex;
    gap: 30px;
  }

  .address {
    width: 330px;
    margin-bottom: 0;
  }

  .address-link {
    width: 216px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-section {
    background-image: unset;
    background-color: transparent;
  }

  .bgc-section {
    background-color: #191c26;
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
      url(../images/bg/contacts/desktop/img.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: calc(50% - 15px) 100%;
    object-fit: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .bgc-section {
      background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)),
        url(../images/bg/contacts/desktop/img@2x.jpg);
    }
  }

  .bgc-container {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
    background-color: transparent;
  }

  .booking-section {
    width: calc(50% + 15px);
  }

  .booking-field {
    flex-basis: calc((50% - 60px) / 2);
  }

  .message-field {
    width: calc(50% - 30px);
  }

  .contacts-section {
    padding-left: 100px;
    width: calc(50% - 15px);
  }

  .address-and-hours {
    flex-direction: column;
    gap: 70px;
  }
}

/* FOOTER */

.page-footer {
  padding-top: 44px;
  padding-bottom: 44px;
}

.footer-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-theme-text-color);
}

.soc-list-footer {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.soc-list-footer::before {
  display: block;
  margin-right: 20px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--main-text-color);
}

.soc-item:not(:last-child) {
  margin-right: 40px;
}

.soc-link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-text-color);
  transition: color var(--transition-function);
}

.soc-link:hover,
.soc-link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .footer-container {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}
